core/__pycache__/*
core/.mypy_cache/*
/core/__pycache__/*
/core/.mypy_cache/*
/core/*pycache*/
*.pyc
__pycache__/*
.mypy_cache/*
.mypy_cache
*.mypy_cache
/core/__pycache__/*
/core/.mypy_cache/*
core/__pycache__/*
core/.mypy_cache/*
interface/dist/
/interface/dist/
*.DS_Store

