.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* background-color: #ccc; */
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/****************************/


*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}


.app {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: black;
  margin-bottom: 20px;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
} */

.current {
  border-bottom: 4px solid white;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}

.systemLogContainer{
  margin-top: 10px;
}

.systemLogContainer .row #system_log .card .card-body {
  height: 5vh;
  border: 1px solid black;
  padding: 5px !important;
}


.systemlogp{
  color: #333;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}

.dashboardBaseText{
  color: black;
}

.lightGrayText {
  color: #ccc;
}

hr {
  background-color: white;
}
